
:root {
  --background-color: #E4FF97;
  --text-color: #040A01;
  --font-family: 'Amatic SC', cursive;
  --gap: 5px;
  --margin: 0px;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0%;
  margin: 0%;
  background-color: var(--background-color);
  font-family: var(--font-family);
}

main {
  width: 100%;
  padding-bottom: 100px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-top: 2px solid black;
  background-color: #F3FFE3;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}

.nav a:hover {
  color: purple;
}

.nav a:hover img {
  transform: scale(1.15);
}

.nav img {
  width: 24px;
  height: 24px;
}

button,
.answers span,
.nav a,
.nav img,
.bookmark img {
  transition: 0.2s ease;
}
